body {
    text-align: center;
}

.header {
    text-size-adjust: 100px;
    color: red;
    text-align:center;
    background-color: black;
    padding: 20px; 
}

.ul {
    text-align: center;
}

.odds {
    margin: 20px;
}

.evens {
    margin: 20px;
}