body {
    text-align: center;
}

.header {
    text-size-adjust: 100px;
    font-weight: 100;
    color: red;
    text-align:center;
    background-color: grey;
    padding: 20px; 
    border-style:ridge;
    border-color:black;
}

.ul {
    text-align: center;
}

.odds {
    margin: 20px;
}

.evens {
    margin: 20px;
}